body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(0,0,1);
    background: radial-gradient(circle, rgba(0,0,1,1) 69%, rgba(4,27,37,1) 97%);
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.text {
    color: white;
    font-size: 1.2rem;
    animation: fade 1s ease-in-out 0s 1 forwards;
    padding: 2rem;
}

@keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.refreshBtn {
    position: relative;
    top: 6rem;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    background-color: rgb(193, 193, 193);
    cursor: pointer;
}

.refreshBtn:hover {
    opacity: 0.9;
}